
body {
  background: #242424;
}

header{
  background-color: #425955;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  border-color: 1px solid
}

h1{
  font-size: 50px;
  color: #F4F7D9;
  width: 50%;
  margin: 1px, 1px, 1px, 1px;
  text-shadow: 2px 2px 2px #000000

}

h2{
  font-size: 50px;
  width: 50%;
  margin: 1px, 1px, 1px, 1px;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 295;
}

.embed-container {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  vertical-align: center;
}

form{
 text-align: center;
}

footer{
  background-color: #425955;
  font-family: 'Montserrat', sans-serif;
  color: #F4F7D9;
  font-size: 25px;
  text-shadow: 2px 2px 2px #000000;
  border-radius: 10px 10px 10px 10px;
  border-color: 1px solid;
  margin-top: 10px;
}

.twelve.column input{
  background-color: #ffffff;
}

p{
  color: #ffffff;
  font-size: 25px;
  text-align: left;
}
p#searchBar{
  text-align: center;
  font-size: 30px;
}

input{
  padding-top: 10px;
}
article{
  position: block;
  color: white;
}

li {
  color: #ffffff;
  list-style-type: none;
}

a { color: #ffffff;
  text-decoration: none;
  margin-right: 65px;
  font-size: 25px;
}

a:visited { color: #FFFFFF;
  text-decoration: none;
}

a:hover { color: #F4F7D9;
  text-decoration: none;
}
​
img.medium {
    width: 200px;
    height: 200px;
}

h3{color: white;
 font-size: 40px;
 font-family: 'Montserrat', sans-serif;
}
h5{
 color: white;
 font-size: 30px;
 font-family: 'Montserrat', sans-serif;
}

a.list{
 text-decoration: none;
 color: white;
 padding-bottom: 20;
 font-size: 20px;
 font-family: 'Belgrano', serif;
}

li.liList{
 display: none;
 list-style: none;
 margin-left: 20px;
 margin-top: -25px;
 font-size: 15px;
 font-family: 'Belgrano', serif;
 color: white;
}

