
body {
  background: #242424;
}

header{
  background-color: #425955;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}


h1{
  font-size: 50px;
  width: 50%;
  margin: 1px, 1px, 1px, 1px;


}

h2{
  font-size: 50px;
  width: 50%;
  margin: 1px, 1px, 1px, 1px;

}

.embed {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    height: 0;
    overflow: hidden;
}


section {
  vertical-align: center;
}

form{
 text-align: center;
}

footer{
  background-color: #425955;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 25px;
}

footer.page_footer{
  padding-top: 5px;
  padding-left: 20%;
  padding-right: 15%;
  padding-bottom: 5px;
  margin-left: -10px;
  margin-top: 75px;
}

p{
  color: white;
}

article{
  position: block;
  color: white;
}

a { color: #FFFFFF;
  text-decoration: none;
  margin-right: 65px;
}
a:visited { color: #FFFFFF;
  text-decoration: none;
}
a:hover { color: #FFFFFF;
  text-decoration: none;
}​
img.medium {
    width: 200px;
    height: 200px;}
  img.small {
    width: 100px;
    height: 100px;
  }


