body{
  background-color: #10222B;
  font-family: 'Oxygen', sans-serif;
  color: #F4F7D9;
  }









/*  font color: #F4F7D9
  header and footer color: #BDD684
  button background: #417378
  basic font: oxygen
  header/footer: montserrat}
*/
